<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Main</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Test1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test3</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
