<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:06:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Main.preconditions()[pri:0, instance:Main@4590c9c3]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:07:04</td>   <td>24901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.Test1()[pri:0, instance:Main@4590c9c3]">Test1</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:07:08</td>   <td>29100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.Test3()[pri:0, instance:Main@4590c9c3]">Test3</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:07:17</td>   <td>38632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.Test4()[pri:0, instance:Main@4590c9c3]">Test4</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:07:18</td>   <td>39281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.Test5()[pri:0, instance:Main@4590c9c3]">Test5</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:07:30</td>   <td>51453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.Test6()[pri:0, instance:Main@4590c9c3]">Test6</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:07:43</td>   <td>64237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.Test7()[pri:0, instance:Main@4590c9c3]">Test7</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:07:55</td>   <td>76394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.Test8()[pri:0, instance:Main@4590c9c3]">Test8</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:08:07</td>   <td>88413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.test2()[pri:0, instance:Main@4590c9c3]">test2</td> 
  <td>main@703504298</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>19/05/31 11:08:16</td>   <td>97727</td> <td>&nbsp;</td><td title="&lt;&lt;Main.exit()[pri:0, instance:Main@4590c9c3]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@703504298</td>   <td></td> </tr>
</table>
